PyMuPDF
torch
torchvision
torchaudio
paddlepaddle
paddleocr
premailer
transformers
pillow
huggingface_hub
timm
matplotlib
flask
opencv-python-headless
pytesseract
pandas
fuzzywuzzy
spacy
pytest
flask-cors
gunicorn