albumentations>=1.0.0
PyMuPDF
torch
torchvision
torchaudio
paddlepaddle>=2.6.0.3
paddleocr
premailer
transformers
pillow
huggingface_hub
timm
matplotlib
flask
opencv-python-headless
pytesseract
pandas
fuzzywuzzy
spacy==3.5.0
pytest
flask-cors
gunicorn
cymem==2.0.7
blis==0.7.9